body{
  margin: 0;
  font-size: 10px;
  background-color: #fdfaf3;
  font-family: "Montserrat";
}
ul{
  padding: 0;
}
.test__item{
    width: 100%;
    height: 150px;
}
.test__item--1{
    background-color: green;
}
.test__item--2{
    background-color: gray;
}
.test__item--3{
    background-color: blue;
}
.decorated-text{
  background-color: #FCE063;
}