.calling{
  display: flex;
  align-items: center;
  &--header{
    position: relative;
    &::after{
      display: block;
      content: "";
      position: absolute;
      right: -523px;
      top: -65px;
      width: 1000px;
      height: 701px;
      z-index: -1;
      background: #F5F5F5;
    }
  }
  &__link{
    position:relative;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    &::before{
      position: absolute;
      display: block;
      content: "";
      left: -20px;
      top: 2px;
      width: 15px;
      height: 15px;
      background-image: url(../img/decor/phone-icon.svg);
    }
    &--footer{
      margin-top: 8px;
      margin-bottom: 18px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #404040;
    }
  }
  &__request{
    display: block;
    margin-left: 10px;
    width: 240px;
    padding-bottom: 18px;
    padding-top: 18px;
    border: 2px solid #FFC406;
    box-sizing: border-box;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }
}
@media (max-width: $desctop-width) {
  .calling{
    order: 2;
    margin-left: 120px;
    width: 400px;
    justify-content: space-between;
    &__link{
      font-size: 14px;
      line-height: 17px;
      &--footer{
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__request{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .calling--header::after{
    right: -753px;
    top: -65px;
    width: 1000px;
    height: 615px;
  }
}