.container{
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  &--footer{
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: $desctop-width) {
  .container{
    width: 864px;
  }
}
@media (max-width: $tablet-width) {
    .container{
        width: 650px;
    }
}
