.container{
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  &--footer{
    display: flex;
    justify-content: flex-start;
    border-top: 3px solid #E0E0E0;
  }
}
/*@media (max-width: $desctop-width) {
  .container{
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .container{
    width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container{
    width: 1152px;
  }
}
@media (max-width: 1152px) {
  .container{
    width: 1080px;
  }
}
@media (max-width: 1080px) {
  .container{
    width: 980px;
  }
}
@media (max-width: 980px) {
  .container{
    width: 854px;
  }
}
@media (max-width: 854px) {
  .container{
    width: 800px;
  }
}
@media (max-width: 800px) {
  .container{
    width: 720px;
  }
}
@media (max-width: 720px) {
  .container{
    width: 640px;
  }
}
@media (max-width: 640px) {
  .container{
    width: 540px;
  }
}
@media (max-width: 540px) {
  .container{
    width: 480px;
  }
}
@media (max-width: 415px) {
  .container{
    width: 360px;
  }
}
@media (max-width: 360px) {
  .container{
    width: 320px;
  }
}*/
@media (max-width: $desctop-width) {
  .container{
    width: 100%;
    padding: 0 35px;
    &--footer{
      padding-top: 41px;
      border-top: 1px solid #E0E0E0;
    }
  }
}
@media (max-width: $tablet-width) {
    .container{
        width: 360px;
        padding: 0 20px;
        &--footer{
          flex-wrap: wrap;
        }
    }
    
}
