.footer{
  padding-bottom: 50px;
  &__content{
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
  }
  &__org-text{
    display: flex;
    flex-direction: column;
  }
  &__org-text-unp,
  &__org-text-copyright{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #C4C4C4;
  }
  &__service-list{
    display: flex;
    flex-direction: column;
  }
  &__service-list-link{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #797979;
  }
  &__info{
    display: flex;
    flex-direction: column;
  }
  &__info-work-time{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    color: #404040;
  }
  &__info-work-time-text{
    font-style: normal;
    font-weight: 600;
    
  }
  &__info-work-time-value{
    font-style: normal;
    font-weight: 500;
  }
  &__info-social-text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #404040;
  }
  &__info-instagram-link{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    top: 9px;
    width: 22px;
    height: 22px;
    background-image: url(../img/decor/instagram.svg);
    background-repeat: no-repeat;
  }
  &__info--mailto-link{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #404040;
    &::before{
      position: absolute;
      display: block;
      content: "";
      top: 4px;
      left: -26px;
      width: 23px;
      height: 23px;
      background-image: url(../img/decor/mail-icon.svg);
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: $desctop-width) {
  .footer{
    &__content{
      flex-wrap: wrap;
    }
    &__info--time{
      order: 2;
    }
    &__info--contacts{
      padding-left: 27px;
    }
    &__service-list{
      margin-bottom: 50px;
      &-link{
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__info--mailto-link{
      font-size: 16px;
      line-height: 20px;
    }
    &__info-work-time{
      width: 211px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
@media (max-width: $tablet-width) {
  .footer{
    &__service-list{
      display: none;
    }
    &__content{
      flex-direction: row;
      width: 280px;
      order: 1;
      flex-wrap: nowrap;
    }
    &__info--contacts{
      order: 1;
    }
    &__info--time{
      order: 2;
    }
    &__info-work-time-text,
    &__info--mailto-link,
    &__info--mailto-link,
    &__info-social-text,
    &__info-work-time-value{
      font-size: 12px;
      line-height: 15px;
    }
    &__info-work-time{
      width: auto;
    }
  }
}