.header{
  padding-top: 60px;
  &__upper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  &__upper-hamb{
    display: none;
  }
  &__bottom{
    position: relative;
    &::after{
      position: absolute;
      content: '';
      display: block;
      right: -71px;
      top: 80px;
      width: 227px;
      height: 173px;
      background-image: url(../img/decor/dots.svg);
      background-repeat: no-repeat;
      -webkit-transform: rotate(-90deg);
      transform: rotate(0deg);
      z-index: -1;
    }
  }
}
@media (max-width: $desctop-width) {
  .header{
    &__upper{
      padding-bottom: 30px;
    }
    &__upper-hamb{
      display: block;
      position: relative;
      order: 3;
      width: 30px;
      height: 14px;
      border-top: 1px solid #323232;
      &::before{
        display: block;
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 23px;
        height: 1px;
        background-color: #323232;
      }
      &::after{
        display: block;
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 13px;
        height: 1px;
        background-color: #323232;
      }
    }
    &__bottom{
      &::after{
        right: -200px;
        top: 80px;
      }
    }
  }
}