.logo{
  &--footer{
    display: flex;
    flex-direction: column;
    margin-right: 76px;
  }
}
@media (max-width: $desctop-width) {
  .logo{
    &--header{
      order: 1;
    }
    &--footer{
      margin-bottom: 50px;
    }
  }
}
@media (max-width: $tablet-width) {
  .logo{
    &--header{
      order: 2;
      width: 106px;
      height: 36px;
      margin-top: 25px;
    }
    &--footer{
      margin: 0;
      order: 3;
    }
    &__image--footer{
      display: none;
    }
  }
}