.nav{
  display: flex;
  width: 688px;
  &__list{
    display: flex;
    flex-grow: 2;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  &__link{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
  }
}
