.nav{
  display: flex;
  width: 688px;
  &__list{
    display: flex;
    flex-grow: 2;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  &__link{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
  }
  &--footer{
    width: auto;
  }
  &__list--footer{
    display: flex;
    flex-direction: column;
    flex-grow: initial;
    align-items: flex-start;
  }
  &__item--footer{
    width: 100%;
    justify-content: flex-start;
  }
  &__link--footer{
    text-align: left;
  }
}
@media (max-width: $desctop-width) {
  .nav--header{
    display: none;
  }
  .nav__item--footer{
    flex-grow: 0;
  }
  .nav__list--footer{
    width: 212px;
  }
  .nav__link--footer{
    font-size: 16px;
    line-height: 32px;
  }
}
@media (max-width: $tablet-width) {
  .nav--header{
  }
  .nav--footer{
    display: none;
  }
}