.services{
  margin-bottom: 196px;
  &__list{
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
  }
}
@media (max-width: $desctop-width) {

}
@media (max-width: $tablet-width) {
  
}