@font-face {
  font-family: "Montserrat";
  src: url('../fonts/MontserratMedium.woff2') format('woff2'),
  url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
  url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
  url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}